<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deadline</title>
    <!--<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
    <style>
        #ex1Slider .slider-selection {
            background: #BABABA;
        }
    </style>
</head>
<body style="background-color: aliceblue;">
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row" style="background-color: aliceblue;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="margin-top: 0">
                        Deadline instance id: <%= deadline.id %>
                    </h3>
                    <ul>
                        <li>Date: <%= new Date(deadline.datamodel.date).toUTCString() %></li>
                        <% if(deadline.datamodel.hasExtension) { %>
                        <li>ExtensionDate: <%= new Date(deadline.datamodel.extensionDate).toUTCString() %></li>
                        <% } %>
                    </ul>
                    <div style="margin: 10px">
                        <button onclick="window.location = 'deadlines';">Back to deadlines list</button><br>
                        simulation speed
                        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                    </div>
                    <div id="mytimeline"></div>
                    <div style="margin: 10px">
                        <div >
                            <code id="datamodel" style="display: block;white-space: pre-wrap;"></code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js"></script>
<script>
    function updateSimulation() {
        var data = {
            instanceID: <%= deadline.id %>
        };
        $.ajax({
            url: '/API/simulation/instance/data',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                $("#datamodel").html(JSON.stringify(data, null, "\t"));
                timeline.setCurrentTime(new Date(data.simulationDate));

                var items = new vis.DataSet();
                items.add({
                    id: 1,
                    content: "date",
                    start: new Date(data.deadline.datamodel.date)
                });

                if(data.deadline.datamodel.hasExtension) {
                    items.add({
                        id: 2,
                        content: "extensionDate",
                        start: new Date(data.deadline.datamodel.extensionDate)
                    });
                }

                if(data.deadline.datamodel.hideDate !== void 0) {
                    items.add({
                        id: 3,
                        content: "hideDate",
                        start: new Date(data.deadline.datamodel.hideDate)
                    });
                }

                timeline.setData({
                    items: items
                });

            },
            data: data
        });
    }
    function setSimulationSpeed(speed) {
        $.ajax({
            url: '/API/simulation/setSpeed',
            type: 'post',
            dataType: 'json',
            data: {speed: speed}
        });
    }



    // With JQuery
var speedSlider = $('#ex1').slider({
	formatter: function(value) {
		return 'Current value: ' + value;
	}
}).on('slide', function () {
    console.log(speedSlider.getValue());
    setSimulationSpeed(Math.pow(speedSlider.getValue(), 4) * 1000);
}).data('slider');

$('#ex1').slider()

</script>

<!-- Timeline -->
<script>
    var container = document.getElementById('mytimeline');

    var start = new Date("<%= simulationDate %>");
    var end = new Date("<%= deadline.datamodel.hasExtension ? deadline.datamodel.extensionDate : deadline.datamodel.date %>");

    if(end < start) {
        end = new Date(start.getTime() + 1000 * 60 * 60 * 24 + 7);
    }

    // Configuration for the Timeline
    // specify options
    var options = {
        start: start,
        end:  end,
    };

    // create a Timeline
    timeline = new vis.Timeline(container, null, null, options);
    var date = new Date("<%= simulationDate %>");
    timeline.setCurrentTime(date);

    timeline.on('currentTimeTick', function () {
        let current = timeline.getCurrentTime();
        timeline.setCurrentTime(new Date(current.getTime() - 40));
    });

    updateSimulation();
    setInterval(function () {
        updateSimulation();
    }, 1000);

</script>
</body>
</html>